*{
  padding : 0 ; 
  margin : 0 ; 
  box-sizing : border-box ; 
}

body{
  width : 100vw ; 
  height : auto ; 
   /* background-color: black;  */
   /* color : white ;   */
}

@font-face {
  font-family: 'roboto';
  src: url('../src/assets/fonts/roboto.ttf');
}

@font-face {
  font-family: 'forum';
  src: url('../src/assets/fonts/forum.ttf');
}

:root{
  --font-type-1 : 'roboto';
  --font-type-2 : 'forum';
  --padding-type-1 : .5rem 1.5rem;
  --font-size-1 : clamp(18px,2.5vw,22px);
  --background-color-1 : cyan;
  --background-color-2 : red;
}

.fl{
  display : flex ; 
  gap : 20px;
}

.gap_1{
  gap : 10px;
}

.gap_2{
  gap : 5px;
}

.fl_col{
  display : flex ; 
  flex-direction: column ;
}

.al_c{
  align-items: center;
}

.ju_c{
  justify-content: center;
}

.text_dec_none{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.ju_sp_bet{
  justify-content: space-between;
}

a{
  color : black;
  text-decoration: none;
  font-size: 20px;
}

