
.resetPassword_main_container{
    width : calc(100% - 20px);
    max-width: 500px;
    background-color: rgba(155, 184, 180, 0.421); 
    background-blend-mode:difference;
    height : calc(100% - 50px) ; 
    min-height : 400px;
    display : flex ; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius : 1rem;
    border : 2px solid black;
}


input{
    width : calc(100% - 50px);
    margin-bottom: 20px;
    height : 50px; 
    background-color: white;
    padding : 10px ;
    font-size : clamp(15px, 2vw, 18px);
    border : 0 ; 
}

.submit_button_container{
    width : calc(100% - 50px) ; 
    height: 50px;
    text-align: center;
    background-color: rgba(255, 0, 200, 0.842);
    font-size: 25px;
    place-content: center;
    cursor: pointer;
}

h1{
    font-size : clamp(20px,3vw,30px);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
p{
    font-size : 15px;
    margin-bottom : 50px;
}